/*
FUNÇÕES PADRÕES START
*********************************************************************/
.clear,
.first {
  clear: both;
}
/*********************************************************************
FUNÇÕES PADRÕES END
*/
/*
NON-RESPONSIVE START
**********************************************************************************************/
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO START */
.container {
  max-width: none !important;
  width: 960px;
}
.navbar-nav > li > a {
  padding-top: 39px;
  padding-bottom: 39px;
}
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO END */
/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}
/* Non-responsive overrides** Utilitze the following CSS to disable the responsive-ness of the container,* grid system, and navbar.*/
/* Reset the container */
/* Always float the navbar header */
.navbar-header {
  float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}
.navbar-brand {
  margin-left: -15px;
}
/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}
/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #841874 !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
/**********************************************************************************************
NON-RESPONSIVE END
*/
::selection {
  background-color: #841874;
  color: #FFF;
}
::-moz-selection {
  background-color: #841874;
  color: #FFF;
}
small {
  display: inline-block;
  line-height: 1.1;
}
textarea {
  resize: vertical;
}
a,
button {
  transition: all 0.25s ease 0s;
}
/*
FONTS START
**********************************************************************************************/
.box-eventos,
.plus,
.data,
.box-boa-forma,
.site-contato,
.menu-footer,
.footer-header,
.site-header .navbar,
.btn {
  font-family: 'GothamBlack', Arial, sans-serif;
  font-weight: normal;
}
.cycle-depoimentos .desc {
  font-family: 'GothamLight', Arial, sans-serif;
  font-weight: normal;
}
.cycle-depoimentos .autor {
  font-family: 'GothamBold', Arial, sans-serif;
  font-weight: normal;
}
.site-footer small {
  font-family: Arial, sans-serif;
  font-weight: normal;
}
/**********************************************************************************************
FONTS END
*/
/*
ESTRUTURA START
**********************************************************************************************/
.extra-header,
.extra-central,
.extra-footer {
  min-width: 960px;
}
.extra-header {
  background: url(../imagem/site/bg-header.jpg) no-repeat center top;
}
.extra-header .navbar {
  border: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none;
}
.extra-header .navbar-brand {
  padding: 11px 10px;
  width: 238px;
}
.extra-header .navbar-nav {
  text-transform: uppercase;
  font-size: 13px;
}
.extra-header .navbar-nav > li {
  position: relative;
}
.extra-header .navbar-nav > li + li {
  background: url(../imagem/site/bg-menu-item.png) no-repeat left center;
  padding-left: 6px;
}
.extra-header .navbar-nav > li.active a:after {
  content: " ";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -11px;
  bottom: 33px;
  background: #f36f21;
  width: 23px;
  height: 3px;
}
.extra-contato {
  background: #f36f21;
}
.extra-contato .site-contato {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  padding: 15px 0;
}
.extra-footer {
  background: url(../imagem/site/bg-footer.jpg) no-repeat center top #7b0a6b;
}
.extra-footer .site-footer {
  background: url(../imagem/site/bg-footer-extra.png) no-repeat center bottom;
  min-height: 220px;
  padding: 30px 0;
  font-size: 14px;
}
.extra-footer .menu-footer {
  text-transform: uppercase;
  font-size: 14px;
}
.extra-footer .footer-header {
  color: #FFF;
  display: block;
  position: relative;
  min-height: 28px;
  margin: 0 0 13px;
  text-transform: uppercase;
  font-size: 16px;
}
.extra-footer .footer-header:after {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: " ";
  background: #f36f21;
  width: 53px;
  height: 3px;
  display: block;
}
.extra-footer small {
  font-size: 11px;
  color: #aeaeae;
}
.extra-footer hr {
  background: rgba(106, 6, 89, 0.5);
  height: 3px;
  border: 0;
  margin: 20px 0;
}
.extra-footer .email {
  color: #FFF;
}
/**********************************************************************************************
ESTRUTURA END
*/
/*
CLASSES START
**********************************************************************************************/
[class^='lista-'],
[class^='lista-'],
[class^='menu-'],
[class^='menu-'] ul,
.cycle-slideshow {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.btn-gray {
  background: #EEE;
  color: #C93F2A;
}
.btn-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.btn {
  text-transform: uppercase;
  font-size: 13px;
}
.box-enquete .box-header:after,
.box-dicas .box-header:after,
.box-depoimentos .box-header:after {
  width: 53px;
  height: 3px;
  display: block;
  content: " ";
  background: #841874;
  margin: 10px 0;
}
.box-enquete .box-header .media-heading,
.box-dicas .box-header .media-heading,
.box-depoimentos .box-header .media-heading {
  font-size: 14px;
  text-transform: uppercase;
  color: #afafaf;
}
.box-banner {
  position: relative;
}
.box-banner .container-nav {
  position: relative;
  z-index: 5;
}
.box-banner,
.box-banner .cycle-slideshow,
.box-banner .cycle-slideshow li {
  height: 580px;
  width: 100%;
}
.box-banner .cycle-banner-conteudo {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
}
.box-banner .cycle-banner-bg {
  position: relative;
  z-index: 1;
}
.box-banner .cycle-banner-bg li {
  background: no-repeat center top;
}
.box-banner .cycle-nav {
  position: absolute;
  right: 0;
  top: 512px;
}
.box-banner .mascara {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  height: 580px;
  width: 100%;
  background: url(../imagem/site/bg-banner-mask.png) no-repeat center top;
}
.box-banner .cycle-slideshow .content {
  text-align: right;
  padding: 190px 0 0 400px;
}
.box-banner .media-heading {
  margin: 0;
  color: #FFF;
  font-size: 65px;
  text-transform: uppercase;
}
.container-eventos {
  position: relative;
}
.box-eventos {
  width: 382px;
  position: absolute;
  z-index: 110;
  height: 190px;
  left: 0;
  bottom: 0px;
  padding: 50px 0 0;
}
.box-eventos:before {
  content: " ";
  display: block;
  width: 53px;
  height: 3px;
  background: #f36f21;
  position: absolute;
  left: 103px;
  top: 27px;
}
.box-eventos,
.box-eventos a,
.box-eventos .data {
  color: #FFF;
}
.box-eventos .cycle-slideshow,
.box-eventos .cycle-slideshow li {
  width: 100%;
}
.box-eventos .cycle-slideshow {
  position: relative;
  z-index: 1;
}
.box-eventos .media > .pull-left {
  padding: 0;
}
.box-eventos .media .media-body {
  font-size: 14px;
}
.box-eventos .data {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
}
.box-eventos .data:after {
  display: none;
}
.box-eventos .data * {
  display: block;
  line-height: 1;
}
.box-eventos .data .dia {
  font-size: 50px;
  line-height: .8;
}
.box-eventos .data .mes {
  font-size: 30px;
}
.box-eventos .data .semana {
  padding-left: 5px;
  font-size: 16px;
  letter-spacing: 10px;
}
.box-eventos p {
  margin: 0 0 5px;
}
.box-eventos .cycle-prev,
.box-eventos .cycle-next {
  position: absolute;
  left: 43px;
  z-index: 3;
}
.box-eventos .cycle-prev.disabled,
.box-eventos .cycle-next.disabled {
  -webkit-opacity: .3;
  -moz-opacity: .3;
  -ms-opacity: .3;
  -o-opacity: .3;
  opacity: .3;
  filter: alpha(opacity=30);
}
.box-eventos .cycle-prev {
  top: 10px;
}
.box-eventos .cycle-next {
  bottom: 10px;
}
.box-destaques,
.box-noticias,
.box-enquete,
.box-dicas,
.box-enquete {
  margin: 0 0 25px;
}
.box-atividades {
  margin: 0 0 40px;
}
.box-atividades .box-header {
  padding: 15px 0;
}
.box-atividades .box-header .media-heading {
  text-transform: uppercase;
  color: #afafaf;
  text-align: center;
  font-size: 16px;
}
.box-enquete {
  font-size: 14px;
  color: #6f6f6f;
}
.box-enquete label {
  font-weight: normal;
}
.box-enquete .opcoes {
  font-size: 13px;
}
.box-dicas > .pull-left {
  padding-right: 30px;
}
.box-dicas .title {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 5px;
}
.box-dicas .title a {
  color: #841874;
}
.box-dicas .desc {
  font-size: 13px;
  line-height: 1.2;
}
.box-boa-forma {
  background: url(../imagem/site/bg-boa-forma.jpg) no-repeat center top;
  min-height: 298px;
  padding-top: 80px;
}
.box-boa-forma .box-header {
  line-height: 1;
}
.box-depoimentos {
  position: relative;
}
.box-depoimentos .box-header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 2;
}
.box-depoimentos .box-header .media-heading {
  color: #FFF;
}
.box-depoimentos .box-header:after {
  background-color: #FFF;
}
.box-depoimentos .box-content {
  position: relative;
  z-index: 1;
}
.cycle-nav span {
  display: inline-block;
  cursor: pointer;
  width: 12px;
  height: 12px;
  background: url(../imagem/site/cycle-nav.png) no-repeat left top;
  text-indent: -1000px;
  overflow: hidden;
  text-align: left;
  margin: 0 10px;
}
.cycle-nav span.cycle-pager-active {
  background-position: right top;
}
.cycle-atividades {
  position: relative;
}
.cycle-atividades,
.cycle-atividades .cycle-slideshow {
  width: 100%;
}
.cycle-atividades .cycle-slideshow {
  position: relative;
  z-index: 1;
}
.cycle-atividades .cycle-slideshow li {
  width: 310px;
}
.cycle-atividades .cycle-slideshow .content {
  width: 300px;
  margin: 0 5px;
  height: 420px;
  position: relative;
}
.cycle-atividades .cycle-slideshow .imagem {
  position: relative;
  z-index: 1;
  display: block;
}
.cycle-atividades .cycle-slideshow .text {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  text-align: right;
  padding: 72px 30px 0;
}
.cycle-atividades .cycle-slideshow .title {
  font-size: 25px;
  text-transform: uppercase;
}
.cycle-atividades .cycle-slideshow .title,
.cycle-atividades .cycle-slideshow .title a {
  color: #FFF;
}
.cycle-atividades .cycle-prev,
.cycle-atividades .cycle-next {
  display: block;
  position: absolute;
  top: 0;
  height: 420px;
  width: 100px;
  z-index: 2;
  background: rgba(129, 129, 129, 0.82);
  text-align: center;
}
.cycle-atividades .cycle-prev *,
.cycle-atividades .cycle-next * {
  display: inline-block;
  vertical-align: middle;
}
.cycle-atividades .cycle-prev {
  left: 0;
}
.cycle-atividades .cycle-next {
  right: 0;
}
.cycle-destaques {
  position: relative;
}
.cycle-destaques,
.cycle-destaques .cycle-slideshow,
.cycle-destaques .cycle-slideshow li,
.cycle-destaques .content {
  height: 400px;
  width: 100%;
}
.cycle-destaques .cycle-slideshow {
  position: relative;
  z-index: 1;
}
.cycle-destaques .content {
  position: relative;
}
.cycle-destaques .imagem {
  position: relative;
  z-index: 1;
}
.cycle-destaques .text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(243, 111, 33, 0.85);
  padding: 20px;
  min-height: 170px;
}
.cycle-destaques a {
  color: #FFF;
}
.cycle-destaques .data {
  color: #841874;
  font-size: 14px;
}
.cycle-destaques .data:after {
  background-color: #fff;
}
.cycle-destaques .title {
  font-size: 20px;
}
.cycle-destaques .title a {
  color: #FFF;
}
.cycle-destaques .cycle-nav {
  position: absolute;
  z-index: 2;
  bottom: 120px;
  right: 20px;
}
.cycle-depoimentos {
  position: relative;
  font-size: 16px;
}
.cycle-depoimentos,
.cycle-depoimentos a {
  color: #FFF;
}
.cycle-depoimentos,
.cycle-depoimentos .cycle-slideshow,
.cycle-depoimentos .cycle-slideshow li,
.cycle-depoimentos .content {
  height: 418px;
  overflow: hidden;
  width: 100%;
}
.cycle-depoimentos .cycle-slideshow {
  position: relative;
  z-index: 1;
}
.cycle-depoimentos .content {
  position: relative;
}
.cycle-depoimentos .imagem {
  position: relative;
  z-index: 1;
}
.cycle-depoimentos .text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: 2;
  padding: 104px 40px 0 120px;
}
.cycle-depoimentos .cycle-nav {
  position: absolute;
  z-index: 2;
  left: 110px;
  bottom: 15px;
}
.data {
  display: block;
  position: relative;
  color: #afafaf;
  font-size: 14px;
}
.data:after {
  content: " ";
  display: block;
  width: 53px;
  height: 3px;
  background: #841874;
  margin: 8px 0;
}
.form-control {
  box-shadow: none;
}
.imagem {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}
.imagem-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.inline-block {
  display: inline-block;
}
[class^='ycon-'],
[class*='ycon-'] {
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  background-image: url(../imagem/site/ycon.png);
}
.lista-noticias .title {
  font-size: 20px;
  margin: 5px 0 10px;
  line-height: 1.4;
}
.lista-noticias .title a {
  color: #841874;
}
.lista-noticias > li + li {
  margin-top: 30px;
}
.plus {
  text-transform: uppercase;
  font-size: 13px;
}
.space {
  width: 1%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.relative {
  position: relative;
}
.text-danger {
  color: #f36f21;
}
.text-primary {
  color: #841874;
}
/**********************************************************************************************
CLASSES END
*/
/*
JQUERY UI START
**********************************************************************************************/
/**********************************************************************************************
JQUERY UI END
*/
@media (max-width: 767px) {
  /*    .site-geral:before {content:"TABLET";}*/
}
@media (max-width: 480px) {
  /*#GERAL:before {content:"MOBILE";}*/
}
@media (min-width: 981px) and (max-width: 1200px) {
  /*#GERAL:before {content:"ACIMA DE TABLET";}*/
}
