.ycon{ background:url("ycon.png") top left no-repeat; }
.ycon-depoimento{ width:458px; height:264px; background-position:-1px -1px; }
.ycon-box{ width:300px; height:128px; background-position:-1px -266px; }
.ycon-facebook-lg{ width:60px; height:60px; background-position:-302px -266px; }
.ycon-twitter-lg{ width:60px; height:60px; background-position:-363px -266px; }
.ycon-instagram-lg{ width:60px; height:60px; background-position:-1px -395px; }
.ycon-cycle-prev{ width:27px; height:44px; background-position:-424px -266px; }
.ycon-cycle-next{ width:27px; height:44px; background-position:-62px -395px; }
.ycon-phone-lg{ width:31px; height:21px; background-position:-90px -395px; }
.ycon-arrow-up{ width:17px; height:11px; background-position:-122px -395px; }
.ycon-arrow-down{ width:17px; height:11px; background-position:-140px -395px; }

